
:root {
    --secondary-color: gray
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 10vh;
    background-color: aquamarine;
}


.card {
    margin: 48px auto;
    height: 608px;
    width: 500px;
    background-color: white;
    border-radius: 8px;
    padding-top: 24px;
    padding-bottom: 8px;
    position: relative;
}

.card__head__left {
    position: absolute;
    display: flex;
    left: 24px;
    
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-right: 16px;
}

.title__heading,
.title__sub {
    font-size: 20px;
}


.title__heading {
    font-weight: bold;


}
.title__sub {
    color: var(--secondary-color);
}


.card__head__right {
    position: absolute;
    right: 8px;
}

.card__head__right i {
    font-size: 32px;
}



.card__image {
    width: 100%;
    margin-top: 60px;

}

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__content {
    padding: 24px;
    margin-bottom: 0px;
    text-align: justify;
}

.card__content span {
    font-size: 20px;
    color: var(--secondary-color);
}

.card__footer__left,
.card__footer__right {
    font-size:0px;
    position: absolute;
    left: 24px;
    
}

.card__footer__right {
    left: unset;
    right: 8px;
}

.card__footer__left i {
    font-size: 32px;
    color:var(--secondary-color);
    margin-right: 16px;
}
.card__footer__right i {
    font-size: 48px;
    color: var(--secondary-color);
}

